######
# Hive Database
######
HIVE_HOST="http://localhost"
HIVE_PORT=8080
HIVE_CATALOG=hive
HIVE_USERNAME=admin
HIVE_PASSWORD="secret123"
HIVE_SOURCE="lakeql"

######
# Mock
######
AUTH_MOCK=true
AUTH_MOCK_TOKEN="1234"

######
# GraphQL API
# These variables are optional - the shown values are defaults that will be used if the variables are not set.
######
API_PORT=4000
API_LOGGER="warn"