######
# Hive Database
######
HIVE_HOST="https://trino-host.com"
HIVE_PORT=8446
HIVE_CATALOG=hive
HIVE_USERNAME="hive-admin-user"
HIVE_PASSWORD="hive-admin-password"
HIVE_SOURCE="lakeql"

######
# Mock
######
AUTH_MOCK=true
AUTH_MOCK_TOKEN="1234"

######
# GraphQL API
######
#DEBUG=1
API_LOGGER="warn"
API_PORT=4000

# docker compose environment variables
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_BUCKET=warehouse

POSTGRES_DB=metastore
POSTGRES_USER=hive
POSTGRES_PASSWORD=hive

S3_ENDPOINT=http://minio:9000
S3_REGION=eu-central-1